.emailList {

    flex:0.9;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.emailList_settings{
    position: sticky;
    top:0;
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index:999;
    padding-right: 10px;
}

.emailList_sections{
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    z-index:999;
}

.section{
    display: flex;
    align-items: center;
    border-bottom-width:2px ;
    padding: 15px;
    min-width: 200px;
    cursor: pointer;
    color: grey;
    border-width: 0 !important;
}

.section:hover,
.section--selected{
    background-color: whitesmoke;
    border-width: 3px !important;
}

.section > h4{
    font-size: 14px;
    margin-left: 10px;
}

.emailList_list{
    padding-bottom: 20%;
}